/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

vaadin-checkbox {
  border: 1px solid #eaeaea;
  font-weight: bold;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
}

vaadin-checkbox.active {
  border: 1px solid black;
  height: 250px;
}

.disabled {
  display: none;
}
